<div>
  <div *ngIf="!isLogin">
    <div>
      <a [href]="lineLoginUrl"
         class="login-line-btn">
        <img src="/assets/imgs/line_icon.png" />
      </a>
    </div>

    <div>
      <a [href]="googleLoginUrl">
        <img src="/assets/imgs/google_icon.png" />
      </a>
    </div>
  </div>
  <div *ngIf="isLogin">
    <div>
      <ul>
        <li>
          <img [src]="userInfo.pictureUrl"
               style="width:100px;height:100px;" />
        </li>
        <li>Id:{{ userInfo.id }}</li>
        <li>Name:{{ userInfo.name}}</li>
        <li>Email:{{ userInfo.email }}</li>
        <li>Provider:{{ userInfo.provider }}</li>
      </ul>
    </div>
    <button (click)="logout()">
      Logout
    </button>
  </div>

</div>
